# Ignorar el entorno virtual
venv/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Ignorar archivos temporales de edición
*.swp

.idea/

etiquetazpl/Etiquetas/

etiquetazpl/credentials.json
etiquetazpl/credentials_backup.json

Tools/.env
Tools/tokens_meli.txt
Tools/tokens_meli_oficiales.txt
Tools/tokens_meli_skyBrands.txt
Tools/google_cred.json

.DS_Store
